---
import Button from "./Button.astro";
---

<a href="https://www.linkedin.com/company/visionpath/" target="_blank">
  <Button variant={"primary"} className={"min-w-max text-white"}>
    <span class="flex relative z-[5] text-center"> Build Your Future</span>
  </Button>
</a>

