---
import { Image } from "astro:assets";
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

import typescript from "../../assets/logos/typescript.svg";
import tailwind from "../../assets/logos/tailwind.svg";
import nextjs from "../../assets/logos/next-js.svg";
import astro from "../../assets/logos/astro.svg";
import react from "../../assets/logos/react-2.svg";
import GradiantText from "../shared/GradiantText.astro";

const brands = [
  {
    id: 1,
    name: "TypeScript",
    logo: typescript,
  },
  {
    id: 2,
    name: "Tailwind",
    logo: tailwind,
  },
  {
    id: 3,
    name: "Next",
    logo: nextjs,
  },
  {
    id: 4,
    name: "Astro",
    logo: astro,
  },
  {
    id: 5,
    name: "React",
    logo: react,
  }
];

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class={`${className} bg-orange-100 dark:bg-gray-800`}>
  <Container className="space-y-8">
    <div class="text-center max-w-3xl mx-auto">
      <Title>Top <GradiantText>Technologies</GradiantText>We Use Everyday</Title>
    </div>
    <div class="flex justify-center flex-wrap gap-4">
      {
        brands.map((brand) => (
          <div class="p-4 sm:p-5 rounded-xl border-box-border group">
            <Image
              src={brand.logo}
              width="100"
              height="60"
              alt={brand.name}
              class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"
            />
          </div>
        ))
      }
    </div>
  </Container>
</section>
